.container
    .card
        .card-content
            .row
                .col.s12.clearfix
                    .input-field
                        input.col.form-control#userName(type='text', name="userName", [(ngModel)] = 'selectedUser')
                        label(for='userName', [class.active]='selectedUser') Type in user email
                    .input-field.right-align
                        a.col.s3.offset-s1.btn.blue(name="getTransaction", (click)="getAllTransactions(selectedUser)" ) Get transactions
                        a.col.s3.offset-s1.btn.green(name="addTransaction", (click)="addUserTransaction(selectedUser)" ) Add transaction
    div(*ngIf='showingAddForm')
        add-transaction([user]='selectedUser')
    div(*ngIf='showingEditForm && selectedTransactionToEdit')
        edit-transaction([user]='selectedUser', [transaction]='selectedTransactionToEdit', (editedTransaction) ='hideEditForm($event)')
    .card(*ngIf='allTransactions && allTransactions.length > 0 && !showingAddForm')
        .card-content
            .card-title
                h6.center-align Showing Transactions for :-
                    strong  {{selectedUser}}
            table.responsive-table.highlight
                thead
                    tr
                        th Transaction Id
                        th Date
                        th Amount
                        th Currency
                        th Actions
                tbody
                    tr(*ngFor='let transaction of allTransactions')
                        td {{transaction.id}}
                        td {{transaction.txn_date | date:'dd-MMM-yyyy'}}
                        td {{transaction.amount}}
                        td {{transaction.currency}}
                        td
                            i.fa.fa-eye.offset-s1.text-primary.purple-text.text-darken-3((click)='viewTransaction(transaction)', title='View')
                            i.fa.fa-pencil.offset-s1.blue-text.text-darken-3((click)='editTransaction(transaction)', title='Edit')
                            i.fa.fa-trash.offset-s1.materialize-red-text.text-darken-3((click)='deleteTransaction(transaction.id)', title='Delete')